
@font-face {
    font-family: 'Manrope';
    font-weight: 800;
    src: local('Manrope'), url("./fonts/Manrope/Manrope-ExtraBold.ttf") format('opentype');
}

@font-face {
    font-family: 'Manrope';
    font-weight: 700;
    src: local('Manrope'), url("./fonts/Manrope/Manrope-Bold.ttf") format('opentype');
}
@font-face {
    font-family: 'Manrope';
    font-weight: 600;
    src: local('Manrope'), url("./fonts/Manrope/Manrope-SemiBold.ttf") format('opentype');
}


@font-face {
    font-family: 'Manrope';
    font-weight: 500;
    src: local('Manrope'), url("./fonts/Manrope/Manrope-Medium.ttf") format('opentype');
}

@font-face {
    font-family: 'Manrope';
    font-weight: 400;
    src: local('Manrope'), url("./fonts/Manrope/Manrope-Regular.ttf") format('opentype');
}

@font-face {
    font-family: 'Manrope';
    font-weight: 300;
    src: local('Manrope'), url("./fonts/Manrope/Manrope-Light.ttf") format('opentype');
}

@font-face {
    font-family: 'Manrope';
    font-weight: 200;
    src: local('Manrope'), url("./fonts/Manrope/Manrope-ExtraLight.ttf") format('opentype');
}
